@using Entity
@model List<BlogListesiVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Blog Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.ToplamBlog</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Son 3 gündeki blog sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5"> @ViewBag.UcGunBlog  </h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Sizin Blog Sayınız <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.SizinBlogSayiniz</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Kategori Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.ToplamKategoriSayisi</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Son 5 Blog</h4>
                    <div class="table-responsive">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th> Görsel </th>
                                    <th> Başlık </th>
                                    <th> Kategori </th>
                                    <th> Tarih </th>
                                    <th> Durum </th>
                                    <th> Detaylar </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="@item.blogImage" class="mr-2" alt="image" />
                                        </td>
                                        <td>
                                            @item.Title

                                        </td>
                                        <td>
                                            @item.Category
                                        </td>
                                        <td>
                                            <label>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</label>
                                        </td>
                                        <td>
                                            @item.blogStatus
                                        </td>
                                        <td>
                                            <a href="/Blog/BlogReadMore/@item.blogId" class="btn btn-dark">Detaylar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


    @await Component.InvokeAsync("WriterAboutOnDashboard")


    @*Category Listesi eklenecek*@

    @await Component.InvokeAsync("CategoryListDashboard")


    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/writer/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
    <script src="~/writer/assets/js/dashboard.js"></script>
    <script src="~/writer/assets/js/todolist.js"></script>
</body>
</html>
